<h1>Consumers</h1>

<div ng-show="viewState == viewStateEnum.LIST">
  <div><a ng-click="addConsumer()" class="btn btn-sm btn-primary" role="button">+</a></div>
  <br/>

  <div>
    <table class="table table-striped table-hover small">
      <tr class="primary">
        <th>Stream</th>
        <th>Consumer Type</th>
        <th/>
        <th/>
        <th/>
      </tr>
      <tr ng-repeat="consumer in consumers">
        <td>{{getStreamName(consumer.streamId)}}</td>
        <td>{{getConsumerSimpleName(consumer.consumerType)}}</td>
        <td><a class="link" ng-click="editConsumer(consumer)">Edit</a></td>
        <td><a class="link" ng-click="startConsumer(consumer)">Start</a></td>
        <td><a class="link" ng-click="stopConsumer(consumer)">Stop</a></td>
      </tr>
    </table>
  </div>
</div>

<div ng-show="viewState == viewStateEnum.EDIT">
  <h3 ng-show="modifyState == modifyStateEnum.ADDING" class='page-header'>Add Event Consumer</h3>

  <h3 ng-show="modifyState == modifyStateEnum.EDITING" class='page-header'>Edit Event Consumer '{{
    getStreamName(currentConsumer.streamId)}} to {{getConsumerSimpleName(currentConsumer.consumerType)}}'</h3>
  <br/>

  <div class="form-group">
    <label for="consumerType"><b class="mandatoryMarker">*</b>&nbsp; Consumer Type</label>
    <select type="text" class="form-control" ng-model="currentConsumer.consumerType"
            ng-options="eventConsumerType.class as eventConsumerType.name for eventConsumerType in eventConsumerTypes" id="consumerType"/>
  </div>

  <div ng-show="currentConsumer.consumerType == 'KafkaEventConsumerConfigDto'">

    <div class="form-group">
      <label for="editStream"><b class="mandatoryMarker">*</b>&nbsp; Target Stream</label>
      <select type="text" class="form-control" ng-model="currentConsumer.streamId"
              ng-options="stream.streamId as stream.name for stream in existingStreams" id="editStream">
        <option value=""></option>
      </select>
    </div>

    <div class="form-group">
      <label for="editTopic"><b class="mandatoryMarker">*</b>&nbsp; Topic</label>
      <input type="text" class="form-control" ng-model="currentConsumer.topic"
             id="editTopic" placeholder="Topic">
    </div>

    <div class="form-group">
      <label for="editGroup"><b class="mandatoryMarker">*</b>&nbsp; Group</label>
      <input type="text" class="form-control" ng-model="currentConsumer.groupId"
             id="editGroup" placeholder="Group">
    </div>

    <div class="form-group">
      <label for="editZookeeper"><b class="mandatoryMarker">*</b>&nbsp; Zookeeper URL</label>
      <input type="text" class="form-control" ng-model="currentConsumer.zookeeperUrl"
             id="editZookeeper" placeholder="Zookeeper URL">
    </div>
  </div>

  <div>
    <a ng-click="resetPage()" class="btn btn-sm btn-default" role="button">Cancel</a>
    <a ng-click="saveConsumer(currentConsumer)" class="btn btn-sm btn-primary" role="button">Save</a>
  </div>
</div>

<br/>
